.tentang-kami {
  background-color: var(--background-color-secondary);
}

.tentang-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  background-color: #ffffff;
  border-radius: 24px;
  padding: 1.5rem;
}

.tentang-image {
  width: 100%;
  max-width: 360px;
  border-radius: 1rem;
  object-fit: cover;
}

.tentang-content {
  max-width: 720px;
  text-align: left;
}
.tentang-desc {
  font-size: 1rem;
  color: var(--text-secondary);
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.tentang-info p {
  margin: 0.4rem 0;
  font-size: 0.95rem;
  color: var(--text-primary);
}

.sosial-media {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  color: var(--primary-color);
}

.sosial-media a {
  color: inherit;
  transition: color 0.3s ease;
}

.sosial-media a:hover {
  color: var(--accent-color);
}

/* Responsive untuk Mobile */
@media (min-width: 768px) {
  .tentang-wrapper {
    flex-direction: row;
    align-items: flex-start;
  }

  .tentang-content {
    padding-left: 2rem;
  }
}

.card img {
  width: 100%;
  max-width: 28rem;
  height: 28rem;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.guru-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
  justify-content: center;
  align-items: stretch;
}
.card-guru {
  background-color: #ffffff;
  border-radius: 1rem;
  border: 1px solid #000000;
  transition: transform 0.3s ease;
}

.card-guru:hover {
  transform: translateY(-5px);
}

.card-guru img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  overflow: hidden;
  border-radius: 1rem 1rem 0 0;
}
